.category_list li:hover p{
    text-decoration: underline;
}

.lank_name >a:hover{
    text-decoration: underline;
}

.story figure a:hover figcaption{
    text-decoration: underline;
}

.mdpick figure a:hover figcaption> p{
    text-decoration: underline;
}


figure > a> img:hover {
    transform: scale(1.05);
}

.magazine >div:hover .hover{
    transform: scale(1.05);
}