
.h_top_wrap{
    background-color: #f2f2f2;
}

.h_top{
    width: 1200px;
    height: 40px;
    line-height: 40px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.h_top ul{
    display: flex;
    align-items: center;
}

.sns li a{
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    margin-right: 2px;
    background-size: 100% 100%;
}

.u_gp >a{
    background-image: url(../img/common/u_gp.png);
}

.u_ap >a{
    background-image: url(../img/common/u_ap.png);
}

.u_in >a{
    background-image: url(../img/common/u_in.png);
}

.u_kc >a{
    background-image: url(../img/common/u_kc.png);
}

.u_fb >a{
    background-image: url(../img/common/u_fb.png);
}

.u_yt >a{
    background-image: url(../img/common/u_yt.png);
}


.login > li > a{
    font-size: 12px;
    color: #808080;
    margin-left: 20px;
}

.login > li > a:hover{
    text-decoration: underline;
}



/****** 헤더 두번째라인 시작 ******/

.icon{
    background-image: url(../img/common/sp_common.png);
}

.h_bot_wrap{
    border-bottom: 1px solid #d9d9d9 ;
}

.h_bot{
    width: 1200px;
    padding-bottom: 10px;
    margin: auto;
}

.logo{
    /* a태그에 이미지를 넣으려면 디스플레이 블록 필요*/
    display: block;
    width: 160px;
    height: 30px;
    margin: 20px auto;
}


.h_bot >div{
    display: flex;
    align-items: center;
}

.h_bot nav{
    width: calc(100% - 210px);
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.gnb_wrap{
    display: flex;
    align-items: center;
}


.btn_nav{
    display: block;
    width: 26px;
    height: 17px;
    background-position: -22px -32px;
    margin-right: 20px;
}


.gnb{
    display: flex;
}

.gnb li{
    padding: 0 17px;
}

.gnb >li >a{
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
    color: #222624;
}

.active{
    color: #009a3e !important; 
    position: relative;
}

.active::after{
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    background-color: #009a3e;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: -24px;
    transform: translate(-50%);
}

.sp_icon{
    height: 40px;
}

.sp_icon >ul{
    height: 40px;
    display: flex;
    align-items: center;
}

.sp_icon >ul > li{
    width: 40px;
}

.sp_icon a{
    display: block;
}


.sp_icon .sp_myinfo{
    width: 21px;
    height: 21px;
    background-position: -50px -32px;
}

.sp_icon .sp_cart{
    width: 26px;
    height: 24px;
    background-position: -73px -32px;
}

.sp_icon .sp_wright{
    width: 22px;
    height: 22px;
    background-position: -101px -32px;
}

.search_wrap{
    width: 210px;
    height: 40px;
    border-radius: 4px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.search_wrap >input{
    background: none;
    border: none;
    outline: none;
}

.search_wrap >span >a{
    display: block;
    width: 17px;
    height: 17px;
    background-image: url(../img/common/sp_common.png);
    background-position: -125px -32px;
}


/* footer */

footer{
    width: 100%;
    background-color: #4d4d4d;
    padding: 50px 0;
}

.footer_wrap{
    width: 1200px;
    margin: auto; 
}

.f_cs >ul{
    display: flex;
    font-size: 15px;
    color: #d9d9d9;
}

.f_cs li{
    padding-right: 5px;
}

.f_nav{
    display: flex;
    width: 100%;
    background-color: #3e3e3e;
    border-radius: 3px;
    margin: 20px 0;
    padding: 0 20px;
    box-sizing: border-box;
}

.f_nav ul{
    display: flex;
    justify-content: space-around;
}

.f_nav ul:first-child{
    width: 60%;
}
.f_nav ul:last-child{
    width: 40%;
}



.f_nav ul li a{
    display: block;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    padding-right: 20px;
    background-image: url(../img/common/arrow02_r.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 6px auto;
    white-space: nowrap;
}

address span{
    color: #d9d9d9;
    font-size: 14px;
}

address a, .f_info a{
    color: #fff;
    font-size: 14px;
    text-decoration: underline;
}

.f_info{
    font-size: 14px;
    margin-top: 26px;
    padding-top: 32px;
    color: #b3b3b3;
    word-break: keep-all;
    border-top: 2px solid #494949
}






















@media only screen and (max-width:1200px){
    .h_top{
        width: 100%;
        height: 28px;
        line-height: 28px;
        padding: 0 23px;
        box-sizing: border-box;
    }   

    .sns li a{
        width: 18px;
        height: 18px;
    }

    .login > li > a{
        font-size: 11px;
    }



    .h_bot{
        width: 100%;
        padding: 0 23px 10px;
        box-sizing: border-box;
    }

    .h_bot nav{
        width: calc(100% - 165px);
    }

    .gnb >li{
        padding: 10px;
    }
    .gnb >li >a{
        line-height: 28px;
        font-size: 14px;
        font-weight: 700;
        color: #222624;
    }

    .btn_nav{
        width: 18px;
        height: 12px;
        background-position: -16px -23px;
        margin-right: 20px;
        background-size: 112px auto;/*이거 맨 아래에 넣어야 너비 안먹음*/
    }


    
    .sp_icon >ul > li{
        width: 34px;
    }

    .sp_icon a{
        display: block;
        background-size: 112px auto;
    }


    .sp_icon .sp_myinfo{
        width: 15px;
        height: 15px;
        background-position: -35px -23px;
    }

    .sp_icon .sp_cart{
        width: 18px;
        height: 17px;
        background-position: -51px -23px;
    }

    .sp_icon .sp_wright{
        width: 15.5px;
        height: 15.5px;
        background-position: -70px -23px;
    }


    .search_wrap{
        width: 165px;
        height: 28px;
        letter-spacing: -2px;
    }

    .search_wrap >input{
        font-size: 11px;
        width: 130px;
    }
    
    .search_wrap >span >a{
        display: block;
        width: 17px;
        height: 17px;
        background-image: url(../img/common/sp_common.png);
        background-position: -125px -32px;
    }


    .footer_wrap{
        width: 100%; 
    }


    .f_nav ul li a{
        display: block;
        line-height: 35px;
        font-size: 14px;
        color: #fff;
        padding-right: 20px;
        background-size: 6px auto;
    }





        /* footer */
    /* max-width: 1200px; */

}


@media only screen and (max-width:767px){

    .h_top{
        display: none;
    }

    .h_bot_wrap{
        border-bottom: none;
    }

    .gnb{
        display: none;
    }

    .sp_icon >ul > li:first-child{
        display: none;
    }

    .sp_icon >ul > li:last-child{
        display: none;
    }


    .h_bot{
        padding: 0 10px;
    }

    .logo {
        width: 88px;
        height: 17px;
        background-position: top center;
        background-size: cover;
    }

    .h_bot nav{
        width: calc(100% - 20px);
        position: absolute;
        top: 10px;
    }


    .search_wrap{
        width: 100%;
        height: 28px;
        letter-spacing: -2px;
    }


    footer{
        padding: 50px 20px;
        box-sizing: border-box;    
    }

    .f_cs >ul {
        font-size: 13px;
    }
    
    .f_nav{
        background-color: transparent;
        padding: 0;
    }
    
    .f_nav ul{
        flex-direction: column;
        justify-content: flex-start;
        background-color: #3e3e3e;
        border-radius: 3px;
        height: 160px;
        padding: 12px;
        box-sizing: border-box;
    }
    
    .f_nav ul:first-child{
        width: calc(50% - 8px);
    }
    .f_nav ul:last-child{
        width: calc(50% - 8px);
        margin-left: 16px;
    }
    
    .f_nav ul li a{

        font-size: 12px;

    }

    address a{
        display: block;
        margin-bottom: 10px;
    }
    .m_block span{
        display: block;
    }

    address span, address a, .f_info, .f_info a{
        font-size: 12px;
    }

    
    /* footer */
    /* max-width: 767px; */
}


