/* 
body{
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
} */

.hide{
    display: none;
}

.h_top_wrap{
    background-color: #f2f2f2;
}

.h_top{
    width: 1200px;
    height: 40px;
    line-height: 40px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.h_top ul{
    display: flex;
    align-items: center;
}

.sns li a{
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    margin-right: 2px;
    background-size: 100% 100%;
}

.u_gp >a{
    background-image: url(../img/common/u_gp.png);
}

.u_ap >a{
    background-image: url(../img/common/u_ap.png);
}

.u_in >a{
    background-image: url(../img/common/u_in.png);
}

.u_kc >a{
    background-image: url(../img/common/u_kc.png);
}

.u_fb >a{
    background-image: url(../img/common/u_fb.png);
}

.u_yt >a{
    background-image: url(../img/common/u_yt.png);
}


.login > li > a{
    font-size: 12px;
    color: #808080;
    margin-left: 20px;
}

.login > li > a:hover{
    text-decoration: underline;
}



/****** 헤더 두번째라인 시작 ******/

.icon{
    background-image: url(../img/common/sp_common.png);
}

.h_bot_wrap{
    border-bottom: 1px solid #d9d9d9 ;
}

.h_bot{
    width: 1200px;
    padding-bottom: 10px;
    margin: auto;
}

.logo{
    /* a태그에 이미지를 넣으려면 디스플레이 블록 필요*/
    display: block;
    width: 160px;
    height: 30px;
    margin: 20px auto;
}


.h_bot >div{
    display: flex;
    align-items: center;
}

.h_bot nav{
    width: calc(100% - 210px);
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.gnb_wrap{
    display: flex;
    align-items: center;
}


.btn_nav{
    display: block;
    width: 26px;
    height: 17px;
    background-position: -22px -32px;
    margin-right: 20px;
}


.gnb{
    display: flex;
}

.gnb li{
    padding: 0 17px;
}

.gnb >li >a{
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
    color: #222624;
}

.active{
    color: #009a3e !important; 
    position: relative;
}

.active::after{
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    background-color: #009a3e;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: -24px;
    transform: translate(-50%);
}

.sp_icon{
    height: 40px;
}

.sp_icon >ul{
    height: 40px;
    display: flex;
    align-items: center;
}

.sp_icon >ul > li{
    width: 40px;
}

.sp_icon a{
    display: block;
}


.sp_icon .sp_myinfo{
    width: 21px;
    height: 21px;
    background-position: -50px -32px;
}

.sp_icon .sp_cart{
    width: 26px;
    height: 24px;
    background-position: -73px -32px;
}

.sp_icon .sp_wright{
    width: 22px;
    height: 22px;
    background-position: -101px -32px;
}

.search_wrap{
    width: 210px;
    height: 40px;
    border-radius: 4px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.search_wrap >input{
    background: none;
    border: none;
    outline: none;
}

.search_wrap >span >a{
    display: block;
    width: 17px;
    height: 17px;
    background-image: url(../img/common/sp_common.png);
    background-position: -125px -32px;
}

/**************************헤더 끝, 메인배너 시작*************************/ 

section{
    width: 1200px;
    margin: auto;
    padding: 30px 0 50px;
    border-bottom: solid #f2f2f2;
    overflow: hidden; /*섹션보다 넓으면 가려서 안정적인 100%*/
}

.slide_wrap{
    overflow: hidden;
}



.slide_img{
    display: block;
    width: 100%;
    padding-top: 38.333%;
    /* 배경이미지 반응형으로 줄어들 때 공식
        높이 / 너비 * 100
        460 / 1200 * 100*/
    border-radius: 4px;
    background-image: url(../img/banner/220330_052325_189300p.jpg);
    background-size: cover;
    /* 배경이미지 반응형으로 줄어들 때 bg-size 100%나 cover 필요*/
}

.arrows{
    float: right;
    display: flex;
    padding: 20px;
}

.arrows li{
    font-size: 12px;
    font-weight: 700;
    line-height: 27px;
    color: #b3b3b3;
}

.arrows li a{
    font-size: 12px;
    font-weight: 700;
    line-height: 27px;
    color: #b3b3b3;
    padding: 0 5px;
}

/* 카테고리시작 */

.category_list{
    display: flex;
}

.category_list div{
    width: 60%;
    margin: auto;
    position: relative;
}

.new_cate::after{
    content: "";
    display: block;
    width: 16px;
    height: 21px;
    background: url('../img/ico/new_cate.png') no-repeat 0 -50px;
    position: absolute;
    right: 5px;
    top: 5px;
}



.category_list div >img{
    width: 100%;
}

.category_list p{
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color: #4d4d4d;
}


.title_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_wrap h2{
    font-size: 25px;
    line-height: 63px;
    font-weight: 700;
    color: #222624;
}

.title_wrap div >a{
    font-size: 16px;
    font-weight: 700;
    line-height: 63px;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 30px;
}

.setting > a{
    color: #4d4d4d;
    background-image: url(../img/ico/setting.png);
    background-size: 15px auto;
}

.more >a {
    color: #009a3e;
    background-image: url(../img/common/arrow04_r.png);
    background-size: 7px auto;
}

.story_wrap{
    width: 100%;
    overflow-x: scroll;
}

::-webkit-scrollbar{
    display: none;
}
/* 크롬에서 스크롤바 없애기 */



.tab{
    display: flex;
}


.tab >li{
    margin-right: 8px;
    margin-top: 10px;
    flex-shrink: 0;
/* 떨어지지 않게 shrink, 나와 부모에 너비가 있어야됨 */
}

.tab >li >a{
    display: block;
    padding: 0 13px;
    line-height: 37px;
    font-size: 14px;
    color: #4d4d4d;
    background-color: #f2f2f2;
    border-radius: 4px;
}


.tab > li >.tab_active{
    background-color: #009a3e;
    color: #f2f2f2;
}

    
.story, .mdpick{
    width: calc(100% + 20px);
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-top: 10px;
}


.story >figure{
    width: 25%;
    padding: 20px 10px;
    box-sizing: border-box;
}

figure >a{
    display: block;
    width: 100%;
}
figure > a> div{
    width: 100%;
    padding-top: 66.67%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 4px;
    position: relative;
}

figure > a> div::after{
    content: "";
    display: block;
    width: 41px;
    height: 47px;
    background-image: url(../img/ico/scrap.png);
    background-size: 31px auto;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.new_txt{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #e05438;
    color: #fff;
    padding: 0 7px;
    line-height: 24px;
    border-radius: 4px 0 4px 0;
    font-size: 12px;
    font-weight: 700;
}


.story_img1{
    background-image: url(../img/photo_list/s220327_1003527306.jpeg);
}

.story_img2{
    background-image: url(../img/photo_list/s220325_1716567306.jpeg);
}

.story_img3{
    background-image: url(../img/photo_list/s220326_1547404464.jpeg);
}

.story_img4{
    background-image: url(../img/photo_list/s220329_2027247306.jpeg);
}

.story_img5{
    background-image: url(../img/photo_list/s220403_1608084464.jpeg);
}

.story_img6{
    background-image: url(../img/photo_list/s220401_1004397306.jpeg);
}


.story_img7{
    background-image: url(../img/photo_list/s220405_1422537306.jpeg);
}

.story_img8{
    background-image: url(../img/photo_list/s210701_150503611.png);
}
/* .story >figure >a >div{
    width: 25%;
    padding: 10px;
} */



.story figcaption{
    font-size: 12px;
    margin: 15px 0 10px;
    color: #4d4d4d;
}
.story > figure span{
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.user_img1{
    background-image: url(../img/profile/220327_101738_jpeg.jpg);
}

.user_img2{
    background-image: url(../img/profile/220327_101738_jpeg.jpg);
}

.user_img3{
    background-image: url(../img/profile/210226_142333_png.jpg);
}

.user_img4{
    background-image: url(../img/profile/220327_101738_jpeg.jpg);
}

.user_img5{
    background-image: url(../img/profile/210802_143646_jpeg.jpg);
}

.user_img6{
    background-image: url(../img/profile/210802_143646_jpeg.jpg);
}

.user_img7{
    background-image: url(../img/profile/220327_101738_jpeg.jpg);
}

.user_img8{
    background-image: url(../img/profile/210226_142333_png.jpg);
}
.story > figure p{
    line-height: 33px;
    font-size: 15px;
    color: #4d4d4d;
    display: inline-block;
}


/* 인기계정랭킹 */
/* .lank_list{
    margin: 30px 40px 0;
}

.lank_wrap{
    display: flex;

}

.lank_wrap > li{
    width: calc((100% - 40px)/3);
    height: 107px;
    padding: 30px 30px 27px 122px;
    line-height: 20px;
    background-color: #f8f8f8;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 20px;
    position: relative;
}


.lank_ico{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #009a3e;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.lank_img1{
    position: absolute;
    top: calc(50% - 35px);
    left: 24px;
    width: 70px;
    height: 70px;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    background-image: url(../img/profile/220327_101738_jpeg.jpg);
    background-size: cover;
}

.lank_img2{
    position: absolute;
    top: calc(50% - 35px);
    left: 24px;
    width: 70px;
    height: 70px;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    background-image: url(../img/profile/profile.jpg);
    background-size: cover;
}

.lank_txt{
    font-size: 15px;
    color: #808080;
} */


.date{
    color: #4d4d4d;
}

.tab_wrap{
    display: flex;
    justify-content: space-between;
}


.lank{
    width: calc(100% + 20px);
    padding: 20px 40px;
    box-sizing: border-box;
    display: flex;
}

.lank > div{
    width: 33.333%;
    height: 100px;
    background-color: #f8f8f8;
    margin-right: 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    flex-shrink: 0;
    /* 슈링크 0, 부모에 히든으로 가로스크롤 */
}

.lank_num{
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #009a3e;
    color: #fff;
    text-align: center;
    top:0;
    left:0;
    border-radius: 4px 0 4px 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
}


.lank_img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 18px;
}

.lank_img >img{
    width: 100%;
}

.lank_name{
    color: #b3b3b3;
    font-weight: bold;
    line-height: 20px;
}

.lank_name > a{
    font-size: 18px;
    color: #4d4d4d;
    font-weight: 500;
    padding-right: 10px;
}


.lank_name span{
    color: #009a3e;
    font-size: 13px;
    padding-left: 10px;
    
}

.lank_title{
    font-size: 15px;
    padding-top: 10px;
    color: #808080;
}


/* 싱그런 여행 */

.b_bottom{
    border-bottom: 1px solid #d9d9d9;
}

.trip_wrap >a{
    border-bottom: 1px solid #d9d9d9;
    padding: 15px 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.trip1{
    background-image: url(../img/photo_list/s210422_094249611.png);
    background-size: cover;
}


.trip_img{
    width: 49px;
    height: 49px;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    overflow: hidden;
}


.trip_txt{
    width: calc(100% - 210px);
    padding-left: 20px;
    box-sizing: border-box;
}

.trip_txt >span{
    color: #4d4d4d;
    padding-right: 22px;
    background-image: url(../img/ico/place.png);
    background-repeat: no-repeat;
    background-position: right center;
    /* 오른쪽에 붙이려고 라이트 센터 */
    background-size: 12px auto;
}

.trip_txt >p{
    font-size: 14px;
    color: #808080;
}


.trip_ico{
    width: 160px;
    display: flex;
}

.trip_ico > li{
    padding-left: 18px;
    color: #b3b3b3;
    font-size: 13px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 100%;
    margin: 0 10px;
    line-height: 14px;
}

.state_like{
    background-image: url(../img/ico/state_like.png);
}

.state_scrap{
    background-image: url(../img/ico/state_scrap.png);
}

.trip_arrow{
    height: 14px;
    background-image: url(../img/common/arrow19_r.png);
}

.vidio{
    width: calc(100% + 20px);
    display: flex;
    flex-wrap: wrap;
}
.vidio >div{
    width: calc(33.333% - 20px);
    margin-right: 20px;
    margin-bottom: 30px;
}

.youtube{
    width: 100%;
    padding-top: 55%;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.vidio iframe, .vidio .thums{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.vidio .thums{
    background-size: cover;
    background-position: center center;
    transition: transform .5s;
}


.youtube .img2{
    background-image: url(../img/movie/210607_093457.png);
}

.youtube .play{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.youtube .play::after{
    content: "";
    border-left: 12px solid #000;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.vidio p{
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    padding-top: 20px;
}

.youtube .time{
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 4px;
    font-size: 10px;
    line-height: 20px;
    padding: 0 7px;
    color: #fff;
    background-color: #222624;
}

.youtube .scrap{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 41px;
    height: 41px;
    background-image: url(../img/ico/scrap.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.vidio:hover .thums{
    transform: scale(1.05);/*105%*/
}

.vidio > div:hover p{
    text-decoration: underline;
}


.test{
    width: 100%;
    height: 100vh;
    background-color: #000;
}

.tooltip{
    width: 300px;
    height: 200px;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    top: 30px;
    left: 50px;
}
.tooltip::after{
    content: "";
    border-top: 50px solid #fff;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    bottom: -50px;
    right: 50px;
}


.keyword{
    width: 100%;
    overflow: auto;
    background: #f2faf5 url(../img/images/hotkeyword.jpg);
    padding: 60px 0;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 33.08% auto;
}

.keyword li{
    white-space: nowrap;
    /* 인라인블록과 화이트스페이스 노랩 같이 쓰면 한줄 안에 유지 */
    padding-left: 50px;
}
.keyword li:last-child{
    padding-left: 100px;
}
.keyword a{
    display: inline-block;
    padding: 0 30px;
    line-height: 48px;
    font-size: 16px;
    color: #3a6b4a;
    background-color: rgba(209,232,218,0.9);
    border-radius: 24px;
    margin: 9px;
}

.keyword li>a:nth-child(7n), .keyword li>a:nth-child(7n+3), .keyword li>a:nth-child(7n+5){
    color: #fff;
    background-color: rgba(0,154,62,0.9);
}




/* 엠디픽 시작 */
/* 
.mdpick{
    width: calc(100% + 20px);
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
} */

.mdpick figure{
    width: 25%;
    padding: 20px 10px;
    box-sizing: border-box;
}

.mdpick figure>a >div{
    padding-top: 100%;
}

.mdpick .img1{
    background-image: url(../img/product/1302_tmp_28f6fa0ba33ced93fa4013d30e61b1063216list1.jpg);
}

.mdpick .img2{
    background-image: url(../img/product/2643_tmp_03febcad796a3bd8cfc789a277250d126933list1.jpg);
}

.mdpick .img3{
    background-image: url(../img/product/2821_tmp_cf6b173585b723349da38a1c41ec8b006805list1.jpg);
}

.mdpick .img4{
    background-image: url(../img/product/5005_tmp_bd37ae33b2ae208eaa6afafec0440b194916list1.jpg);
}

.mdpick .img5{
    background-image: url(../img/product/5913_2021091714171821.jpg);
}

.mdpick .img6{
    background-image: url(../img/product/7033_tmp_44f01d3ef64204fd703526a0e010880b2804list1.jpg);
}

.mdpick .img7{
    background-image: url(../img/product/72_temp_16149269002260list1.png);
}

.mdpick .img8{
    background-image: url(../img/product/_tmp_8d8f8fc785d3e786e514f967d886a12c4700list1.jpg);
}

.mdpick p{
    margin-top: 21px;
    font-size: 14px;
    color: #808080;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mdpick ul{
    display: flex;
}

.sale{
    color: #e05438;
    font-size: 20px;
    font-weight: 700;
    padding-right: 5px;
}

.price{
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.price >span{
    color: #d3d3d3;
    text-decoration: line-through;
    padding-right: 10px;
}

/************************ 미디어쿼리 시작 ********************/
@media only screen and (max-width:1200px){
    .h_top{
        width: 100%;
        height: 28px;
        line-height: 28px;
        padding: 0 23px;
        box-sizing: border-box;
    }   

    .sns li a{
        width: 18px;
        height: 18px;
    }

    .login > li > a{
        font-size: 11px;
    }



    .h_bot{
        width: 100%;
        padding: 0 23px 10px;
        box-sizing: border-box;
    }

    .h_bot nav{
        width: calc(100% - 165px);
    }

    .gnb >li{
        padding: 10px;
    }
    .gnb >li >a{
        line-height: 28px;
        font-size: 14px;
        font-weight: 700;
        color: #222624;
    }

    .btn_nav{
        width: 18px;
        height: 12px;
        background-position: -16px -23px;
        margin-right: 20px;
        background-size: 112px auto;/*이거 맨 아래에 넣어야 너비 안먹음*/
    }


    
    .sp_icon >ul > li{
        width: 34px;
    }

    .sp_icon a{
        display: block;
        background-size: 112px auto;
    }


    .sp_icon .sp_myinfo{
        width: 15px;
        height: 15px;
        background-position: -35px -23px;
    }

    .sp_icon .sp_cart{
        width: 18px;
        height: 17px;
        background-position: -51px -23px;
    }

    .sp_icon .sp_wright{
        width: 15.5px;
        height: 15.5px;
        background-position: -70px -23px;
    }


    .search_wrap{
        width: 165px;
        height: 28px;
        letter-spacing: -2px;
    }

    .search_wrap >input{
        font-size: 11px;
        width: 130px;
    }
    
    .search_wrap >span >a{
        display: block;
        width: 17px;
        height: 17px;
        background-image: url(../img/common/sp_common.png);
        background-position: -125px -32px;
    }
/************ max-width: 1200px 메인배너 시작 ***********/

    section{
        width: 100%;
        padding: 30px 15px 50px;
        box-sizing: border-box;
    }

    .category_list p{
        font-size: 14px;
    }

    .lank_img{
        width: 48px;
        height: 48px;
        margin-right: 14px;
    }
    .lank_txt{
        width: calc(100% - 62px);
    }

    .lank_name > a{
        font-size: 15px;
    }
    
    .lank_name span{
        font-size: 12px; 
    }
    
    .lank_title{
        font-size: 14px;
    }
    
    .youtube .play{
        width: 42px;
        height: 42px;
    }

    .youtube .play::after{
        border-left-width: 8px;
        border-top-width: 5px;
        border-bottom-width: 5px;

    }

    .youtube .scrap{
        width: 29px;
        height: 34px;
        background-size: 22px auto;
        right: 7px;
        bottom: 7px;
    }

    .vidio p{
        font-size: 13px;
    }

    /* max-width: 1200px */
}


@media only screen and (max-width:767px){
    .dis_none{
        display: none;
    }

    .h_top{
        display: none;
    }

    .h_bot_wrap{
        border-bottom: none;
    }

    .gnb{
        display: none;
    }

    .sp_icon >ul > li:first-child{
        display: none;
    }

    .sp_icon >ul > li:last-child{
        display: none;
    }


    .h_bot{
        padding: 0 10px;
    }


    .h_bot nav{
        width: calc(100% - 20px);
        position: absolute;
        top: 0;
    }


    .search_wrap{
        width: 100%;
        height: 28px;
        letter-spacing: -2px;
    }

/************  max-width: 767px 메인배너 시작 ***********/

.slide_img{
    padding-top: 100%;
    /* 배경이미지 반응형으로 줄어들 때 공식
        높이 / 너비 * 100
        1200 / 1200 * 100*/
    background-image: url(../img/banner/220330_052325_255300m.jpg);
    /* 배경이미지 반응형으로 줄어들 때 bg-size 100%나 cover 필요*/
}

.arrows{
    display: none;
}

.category_list{
    flex-wrap: wrap;
    padding-top: 30px;
}

.category_list li{
    width: 25%;
}

.story >figure{
    width: 50%;
}


.more_btn > div{
    width: 233px;
    height: 40px;
    line-height: 39px;
    font-size: 14px;
    font-weight: 400;
    color: #4d4d4d;
    background-color: #d9d9d9;
    background-image: none;
    border-radius: 20px;
    margin: auto;
    text-align: center;
}

.more {
    display: none;
}

.lank_wrap{
    width: 100%;
    overflow-x: scroll;
}
.lank{
    width: calc(210% + 220px);
    padding: 20px 0px;
}

.m_date{
    text-align: center;
    padding: 0 20px;
    line-height: 1;
    font-size: 13px;
    color: #808080;
    display: block;
}

.lank_img{
    width: 46px;
    height: 46px;
    margin-right: 18px;
}

.lank_txt{
    width: calc(100% - 64px);
}

.lank_name > a{
    font-size: 14px;
}


.lank_name span{
    font-size: 11px; 
}

.lank_title{
    width: 100%;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;/*...으로 바꿔줌*/
    white-space: nowrap; /*떨어지지않게*/
    /* 말줄임표 나오는 삼종세트 */
}

.trip_wrap >a{
    padding: 15px;
}

.trip_txt{
    width: calc(100% - 90px);
}

.trip_ico{
    width: 38px;
}

.vidio >div{
    width: calc(50% - 20px);
    margin-right: 20px;
    margin-bottom: 30px;
}
.vidio >div:first-child{
    width: calc(100% - 20px);
    margin-right: 0;

}
    /* max-width: 767px */
}