/* 
body{
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
} */

.hide {
    display: none;
}

section {
    width: 1200px;
    margin: auto;
    padding: 30px 0 50px;
    overflow: hidden; /*섹션보다 넓으면 가려서 안정적인 100%*/
}

section:first-child {
    border-bottom: solid #f2f2f2;
}

.mt50 {
    margin-top: 50px;
}

.slide_wrap {
    overflow: hidden;
    position: relative;
}

.slide_img {
    display: block;
    width: 100%;
    padding-top: 38.333%;
    /* 배경이미지 반응형으로 줄어들 때 공식
        높이 / 너비 * 100
        460 / 1200 * 100*/
    border-radius: 4px;
    background-size: cover;
    /* 배경이미지 반응형으로 줄어들 때 bg-size 100%나 cover 필요*/
}

.slide_img.img1 {
    background-image: url(../img/banner/220330_052325_189300p.jpg);
}
.slide_img.img2 {
    background-image: url(../img/banner/220103_083058_257700p.jpg);
}
.slide_img.img3 {
    background-image: url(../img/banner/220103_083058_232100p.jpg);
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrows {
    float: right;
    display: flex;
    padding: 20px;
}

.arrows li {
    font-size: 12px;
    font-weight: 700;
    line-height: 27px;
    color: #b3b3b3;
}

.arrows li a {
    font-size: 12px;
    font-weight: 700;
    line-height: 27px;
    color: #b3b3b3;
    padding: 0 5px;
}

.swiper-button-next,
.swiper-button-prev {
    margin-top: 0;
    transform: translateY(-100%);
    z-index: 10;
    color: #4d4d4d;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0.2;
    padding: 10px 3px;
    border-radius: 10px;
    /* transition: 0.2s; */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 0.7;
}

.swiper-pagination {
    display: block;
    position: relative;
    left: 0;
    top: 0;
}
.swiper-pagination span:first-child {
    color: #808080;
}

/* 카테고리시작 */

.category_list {
    display: flex;
}

.category_list div {
    width: 60%;
    margin: auto;
    position: relative;
}

.new_cate::after {
    content: "";
    display: block;
    width: 16px;
    height: 21px;
    background: url("../img/ico/new_cate.png") no-repeat 0 -50px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.category_list div > img {
    width: 100%;
}

.category_list p {
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color: #4d4d4d;
}

.title_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_wrap h2 {
    font-size: 25px;
    line-height: 63px;
    font-weight: 700;
    color: #222624;
}

.title_wrap div > a {
    font-size: 16px;
    font-weight: 700;
    line-height: 63px;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 30px;
}

.setting > a {
    color: #4d4d4d;
    background-image: url(../img/ico/setting.png);
    background-size: 15px auto;
}

.more > a {
    color: #009a3e;
    background-image: url(../img/common/arrow04_r.png);
    background-size: 7px auto;
}

.story_wrap {
    width: 100%;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    display: none;
}
/* 크롬에서 스크롤바 없애기 */

.tab {
    display: flex;
}

.tab > li {
    margin-right: 8px;
    margin-top: 10px;
    flex-shrink: 0;
    /* 떨어지지 않게 shrink, 나와 부모에 너비가 있어야됨 */
}

.tab > li > a {
    display: block;
    padding: 0 13px;
    line-height: 37px;
    font-size: 14px;
    color: #4d4d4d;
    background-color: #f2f2f2;
    border-radius: 4px;
}

.tab > li > .tab_active {
    background-color: #009a3e;
    color: #f2f2f2;
}

.story,
.mdpick,
.guide,
.quick,
.photo,
.magazine {
    width: calc(100% + 20px);
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-top: 10px;
}

figure {
    width: 25%;
    padding: 20px 10px;
    box-sizing: border-box;
}

figure > div {
    width: 100%;
}

figure > a {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
}
figure > a > div {
    width: 100%;
    padding-top: 66.67%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

figure > a > div::after {
    content: "";
    display: block;
    width: 41px;
    height: 47px;
    background-image: url(../img/ico/scrap.png);
    background-size: 31px auto;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.new_txt {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #e05438;
    color: #fff;
    padding: 0 7px;
    line-height: 24px;
    border-radius: 4px 0 4px 0;
    font-size: 12px;
    font-weight: 700;
}

.story_img1 {
    background-image: url(../img/photo_list/s220327_1003527306.jpeg);
}

.story_img2 {
    background-image: url(../img/photo_list/s220325_1716567306.jpeg);
}

.story_img3 {
    background-image: url(../img/photo_list/s220326_1547404464.jpeg);
}

.story_img4 {
    background-image: url(../img/photo_list/s220329_2027247306.jpeg);
}

.story_img5 {
    background-image: url(../img/photo_list/s220403_1608084464.jpeg);
}

.story_img6 {
    background-image: url(../img/photo_list/s220401_1004397306.jpeg);
}

.story_img7 {
    background-image: url(../img/photo_list/s220405_1422537306.jpeg);
}

.story_img8 {
    background-image: url(../img/photo_list/s210701_150503611.png);
}

.story figcaption {
    font-size: 14px;
    margin: 15px 0 10px;
    color: #4d4d4d;
}

.story > figure span {
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.more_btn > div {
    display: none;
}
.user_img1 {
    background-image: url(../img/profile/220327_101738_jpeg.jpg);
}

.user_img2 {
    background-image: url(../img/profile/220327_101738_jpeg.jpg);
}

.user_img3 {
    background-image: url(../img/profile/210226_142333_png.jpg);
}

.user_img4 {
    background-image: url(../img/profile/220327_101738_jpeg.jpg);
}

.user_img5 {
    background-image: url(../img/profile/210802_143646_jpeg.jpg);
}

.user_img6 {
    background-image: url(../img/profile/210802_143646_jpeg.jpg);
}

.user_img7 {
    background-image: url(../img/profile/220327_101738_jpeg.jpg);
}

.user_img8 {
    background-image: url(../img/profile/210226_142333_png.jpg);
}
.story > figure p {
    width: calc(100% - 39px);
    line-height: 33px;
    font-size: 15px;
    color: #4d4d4d;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 인기계정랭킹 */

.date {
    color: #4d4d4d;
}

.tab_wrap {
    display: flex;
    justify-content: space-between;
}

.lank {
    width: calc(100% + 20px);
    padding: 20px 40px;
    box-sizing: border-box;
    display: flex;
}

.lank > div {
    width: 33.333%;
    height: 100px;
    background-color: #f8f8f8;
    margin-right: 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    flex-shrink: 0;
    /* 슈링크 0, 부모에 히든으로 가로스크롤 */
}

.lank_num {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #009a3e;
    color: #fff;
    text-align: center;
    top: 0;
    left: 0;
    border-radius: 4px 0 4px 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
}

.lank_img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 18px;
}

.lank_img > img {
    width: 100%;
}

.lank_name {
    color: #b3b3b3;
    font-weight: bold;
    line-height: 20px;
}

.lank_name > a {
    font-size: 18px;
    color: #4d4d4d;
    font-weight: 500;
    padding-right: 10px;
}

.lank_name span {
    color: #009a3e;
    font-size: 13px;
    padding-left: 10px;
}

.lank_title {
    font-size: 15px;
    padding-top: 10px;
    color: #808080;
}

/* 싱그런 여행 */

.b_bottom {
    border-bottom: 1px solid #d9d9d9;
}

.trip_wrap > a,
.qna_wrap > a {
    border-bottom: 1px solid #d9d9d9;
    padding: 15px 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.trip1 {
    background-image: url(../img/photo_list/s210422_094249611.png);
    background-size: cover;
}

.trip_img {
    width: 49px;
    height: 49px;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    overflow: hidden;
}

.trip_txt,
.qna_txt {
    width: calc(100% - 210px);
    padding-left: 20px;
    box-sizing: border-box;
}

.trip_txt > span {
    color: #4d4d4d;
    padding-right: 22px;
    background-image: url(../img/ico/place.png);
    background-repeat: no-repeat;
    background-position: right center;
    /* 오른쪽에 붙이려고 라이트 센터 */
    background-size: 12px auto;
}

.trip_txt > p,
.qna_txt > p {
    font-size: 14px;
    color: #808080;
}

.trip_ico {
    width: 160px;
    display: flex;
}

.trip_ico > li {
    padding-left: 18px;
    color: #b3b3b3;
    font-size: 13px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 100%;
    margin: 0 10px;
    line-height: 14px;
}

.state_like {
    background-image: url(../img/ico/state_like.png);
}

.state_scrap {
    background-image: url(../img/ico/state_scrap.png);
}

.trip_arrow {
    height: 14px;
    background-image: url(../img/common/arrow19_r.png);
}

.video {
    width: calc(100% + 20px);
    display: flex;
    flex-wrap: wrap;
}
.video > div {
    width: calc(33.333% - 20px);
    margin-right: 20px;
    margin-bottom: 30px;
}

.youtube {
    width: 100%;
    padding-top: 55%;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.video iframe,
.video .thums {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.video .thums {
    background-size: cover;
    background-position: center center;
    transition: transform 0.5s;
}

.youtube .img1 {
    background-image: url(../img/movie/210607_093457.png);
}
.youtube .img2 {
    background-image: url(../img/movie/210618_094827.png);
}
.youtube .img3 {
    background-image: url(../img/movie/220411_085344.jpg);
}
.youtube .img4 {
    background-image: url(../img/movie/210616_181330.png);
}

.youtube .play {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.youtube .play::after {
    content: "";
    border-left: 12px solid #000;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.video p {
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 20px;
}

.youtube .time {
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 4px;
    font-size: 10px;
    line-height: 20px;
    padding: 0 7px;
    color: #fff;
    background-color: #222624;
}

.scrap {
    position: absolute;
    display: block;
    right: 10px;
    bottom: 10px;
    width: 41px;
    height: 41px;
    background-image: url(../img/ico/scrap.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.video > div:hover .thums {
    transform: scale(1.05); /*105%*/
}

.video > div:hover p {
    text-decoration: underline;
}

.test {
    width: 100%;
    height: 100vh;
    background-color: #000;
}

.tooltip {
    width: 300px;
    height: 200px;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    top: 30px;
    left: 50px;
}
.tooltip::after {
    content: "";
    border-top: 50px solid #fff;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    bottom: -50px;
    right: 50px;
}

.keyword {
    width: 100%;
    overflow: auto;
    background: #f2faf5 url(../img/images/hotkeyword.jpg);
    padding: 60px 0;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 33.08% auto;
}

.keyword li {
    white-space: nowrap;
    /* 인라인블록과 화이트스페이스 노랩 같이 쓰면 한줄 안에 유지 */
    padding-left: 50px;
}
.keyword li:last-child {
    padding-left: 100px;
}
.keyword a {
    display: inline-block;
    padding: 0 30px;
    line-height: 48px;
    font-size: 16px;
    color: #3a6b4a;
    background-color: rgba(209, 232, 218, 0.9);
    border-radius: 24px;
    margin: 9px;
}

.keyword li > a:nth-child(7n),
.keyword li > a:nth-child(7n + 3),
.keyword li > a:nth-child(7n + 5) {
    color: #fff;
    background-color: rgba(0, 154, 62, 0.9);
}

/* 엠디픽 시작 */
/* 
.mdpick{
    width: calc(100% + 20px);
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
} */

.mdpick figure > a > div {
    padding-top: 100%;
}

.mdpick .img1 {
    background-image: url(../img/product/1302_tmp_28f6fa0ba33ced93fa4013d30e61b1063216list1.jpg);
}

.mdpick .img2 {
    background-image: url(../img/product/2643_tmp_03febcad796a3bd8cfc789a277250d126933list1.jpg);
}

.mdpick .img3 {
    background-image: url(../img/product/2821_tmp_cf6b173585b723349da38a1c41ec8b006805list1.jpg);
}

.mdpick .img4 {
    background-image: url(../img/product/5005_tmp_bd37ae33b2ae208eaa6afafec0440b194916list1.jpg);
}

.mdpick .img5 {
    background-image: url(../img/product/5913_2021091714171821.jpg);
}

.mdpick .img6 {
    background-image: url(../img/product/7033_tmp_44f01d3ef64204fd703526a0e010880b2804list1.jpg);
}

.mdpick .img7 {
    background-image: url(../img/product/72_temp_16149269002260list1.png);
}

.mdpick .img8 {
    background-image: url(../img/product/_tmp_8d8f8fc785d3e786e514f967d886a12c4700list1.jpg);
}

.mdpick p {
    margin-top: 21px;
    font-size: 14px;
    color: #808080;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mdpick ul {
    display: flex;
}

.sale {
    color: #e05438;
    font-size: 20px;
    font-weight: 700;
    padding-right: 5px;
}

.price {
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.price > span {
    color: #d3d3d3;
    text-decoration: line-through;
    padding-right: 10px;
}

.w100 {
    width: 100%;
    background-color: #f2f2f2;
}

.guide ul {
    display: flex;
    width: 100%;
}

.guide li {
    width: 25%;
    padding: 0 10px;
}

.guide a {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 128.8%;
    /* 높이 맞춰주려고 포지션주고, 패딩계산, 자식에 left0 right0 */
}
.guide a > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.guide .img1 {
    background-image: url(../img/tour/211213_093642_png.png);
}
.guide .img2 {
    background-image: url(../img/tour/211213_093707_png.png);
}
.guide .img3 {
    background-image: url(../img/tour/211213_093741_png.png);
}
.guide .img4 {
    background-image: url(../img/tour/211213_093812_png.png);
}

.guide .new {
    position: absolute;
    top: 0;
    right: 6%;
    width: 27px;
    height: 41px;
    background-image: url(../img/ico/new_guide.png);
    background-size: 100% auto;
}

.quick > div {
    width: 50%;
    padding: 0 10px;
    box-sizing: border-box;
}

.quick a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 28px 6.78%;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #f2f2f2;
}

.quick .title {
    font-size: 16px;
    font-weight: 700;
    color: #4d4d4d;
}

.quick .txt {
    font-size: 14px;
    color: #808080;
}

.quick .sp {
    width: 40px;
    height: 40px;
    background-size: auto 40px;
    background-image: url(../img/common/sp_lv.png);
}

.quick .lv {
    background-position: -119px 0;
}

.quick .gm {
    background-position: -79px 0;
}

.photo .colum {
    width: 25%;
}

.photo figure {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

figure > a > img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    position: relative;
    transition: transform 0.5s;
}

.new_video > div {
    width: calc(25% - 20px) !important;
}

.magazine > div {
    width: 33.333%;
    padding: 0 10px;
    box-sizing: border-box;
}
.magazine > div > a {
    display: block;
    width: 100%;
    overflow: hidden;
}

.magazine > div > a > div {
    width: 100%;
    padding-top: calc(268 / 590 * 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 4px;
}

.magazine .img1 {
    background-image: url(../img/211001_093655_jpg.jpg);
    transition: transform 0.3s;
}
.magazine .img2 {
    background-image: url(../img/211021_094710_jpg.jpg);
    transition: transform 0.3s;
}
.magazine .img3 {
    background-image: url(../img/211201_164008_jpg.jpg);
    transition: transform 0.3s;
}

.qna_list {
    margin-bottom: 20px;
}
.qna_wrap img {
    width: 49px;
    height: 49px;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    overflow: hidden;
}

.qna_txt > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.qna_txt > span {
    color: #4d4d4d;
    padding-right: 22px;
}

/***** hover 애니메이션 *****/
.category_list li:hover p {
    text-decoration: underline;
}
.lank_name > a:hover {
    text-decoration: underline;
}
.story figure a:hover figcaption {
    text-decoration: underline;
}
.mdpick figure a:hover figcaption > p {
    text-decoration: underline;
}

figure > a > img:hover {
    transform: scale(1.05);
}
.magazine > div:hover .hover {
    transform: scale(1.05);
}
/***** //hover 애니메이션 *****/

/************************ 미디어쿼리 시작 ********************/
@media only screen and (max-width: 1200px) {
    section {
        width: 100%;
        padding: 30px 15px 50px;
        box-sizing: border-box;
    }

    .category_list p {
        font-size: 14px;
    }

    .lank_img {
        width: 48px;
        height: 48px;
        margin-right: 14px;
    }
    .lank_txt {
        width: calc(100% - 62px);
    }

    .lank_name > a {
        font-size: 15px;
    }

    .lank_name span {
        font-size: 12px;
    }

    .lank_title {
        font-size: 14px;
    }

    .youtube .play {
        width: 42px;
        height: 42px;
    }

    .youtube .play::after {
        border-left-width: 8px;
        border-top-width: 5px;
        border-bottom-width: 5px;
    }

    .scrap {
        width: 29px;
        height: 34px;
        background-size: 22px auto;
        right: 7px;
        bottom: 7px;
    }

    .video p {
        font-size: 13px;
    }

    .mdpick p {
        font-size: 13px;
    }

    .mdpick ul {
        flex-direction: column;
    }

    .sale {
        font-size: 16px;
    }

    .price {
        font-size: 16px;
    }

    .guide .new {
        width: 25px;
        height: 38px;
    }

    .quick a {
        padding: 15px 6.78%;
    }

    .quick .title {
        font-size: 14px;
    }

    .quick .txt {
        font-size: 13px;
    }
    .quick .sp {
        position: relative;
        width: 33px;
        height: 33px;
        background-size: auto 33px;
    }

    .quick .lv {
        background-position: -99px 0;
    }

    .quick .gm {
        background-position: -66px 0;
    }
    /* max-width: 1200px */
}

@media only screen and (max-width: 767px) {
    .dis_none {
        display: none;
    }

    .slide_img {
        padding-top: 100%;
        /* 배경이미지 반응형으로 줄어들 때 공식
        높이 / 너비 * 100
        1200 / 1200 * 100*/
        /* 배경이미지 반응형으로 줄어들 때 bg-size 100%나 cover 필요*/
    }

    .slide_img.img1 {
        background-image: url(../img/banner/220330_052325_255300m.jpg);
    }
    .slide_img.img2 {
        background-image: url(../img/banner/220103_083058_268000m.jpg);
    }
    .slide_img.img3 {
        background-image: url(../img/banner/220103_083058_240600m.jpg);
    }

    .arrows {
        position: relative;
        z-index: 10;
        padding: 0 10px;
        top: -40px;
        right: 20px;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 20px;
    }

    .arrows li {
        color: #fff;
        line-height: 20px;
    }

    .arrows li:first-child,
    .arrows li:last-child {
        display: none;
    }

    .arrows li a {
        color: #fff;
    }

    .swiper-pagination span:first-child {
        color: #fff;
    }

    .category_list {
        flex-wrap: wrap;
        padding-top: 30px;
    }

    .category_list li {
        width: 25%;
    }

    figure {
        width: 50%;
    }

    figure > a > div::after {
        content: "";
        display: block;
        width: 29px;
        height: 34px;
        background-size: 22px auto;
        right: 7px;
        bottom: 7px;
    }

    .story figcaption {
        font-size: 12px;
    }

    .more_btn > div {
        display: block;
        width: 233px;
        height: 40px;
        line-height: 39px;
        font-size: 14px;
        font-weight: 400;
        color: #4d4d4d;
        background-color: #d9d9d9;
        background-image: none;
        border-radius: 20px;
        margin: auto;
        text-align: center;
    }

    .more {
        display: none;
    }

    .lank_wrap {
        width: 100%;
        overflow-x: scroll;
    }
    .lank {
        width: calc(170% + 220px);
        padding: 20px 0px;
    }

    .m_date {
        text-align: center;
        padding: 0 20px;
        line-height: 1;
        font-size: 13px;
        color: #808080;
        display: block;
    }

    .lank_img {
        width: 46px;
        height: 46px;
        margin-right: 18px;
    }

    .lank_txt {
        width: calc(100% - 64px);
    }

    .lank_name > a {
        font-size: 14px;
    }

    .lank_name span {
        font-size: 11px;
    }

    .lank_title {
        width: 100%;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis; /*...으로 바꿔줌*/
        white-space: nowrap; /*떨어지지않게*/
        /* 말줄임표 나오는 삼종세트 */
    }

    .trip_wrap > a,
    .qna_wrap > a {
        padding: 15px;
    }

    .trip_txt,
    .qna_txt {
        width: calc(100% - 90px);
    }

    .trip_ico {
        width: 38px;
    }

    .trip_txt > span,
    .trip_txt > p,
    .qna_txt > span,
    .qna_txt > p {
        font-size: 13px;
    }

    .video > div {
        width: calc(50% - 20px);
        margin-right: 20px;
        margin-bottom: 30px;
    }
    .video > div:first-child {
        width: calc(100% - 20px);
        margin-right: 0;
    }

    .keyword li {
        white-space: nowrap;
        padding-left: 10px;
    }
    .keyword li:last-child {
        padding-left: 50px;
    }

    .keyword a {
        padding: 0px 22px;
        line-height: 40px;
        font-size: 14px;
        color: #3a6b4a;
    }

    .guide ul {
        overflow: auto;
    }

    .guide li {
        width: 57%;
        padding: 0 10px;
        flex-shrink: 0;
    }

    .guide .new {
        width: 23px;
        height: 35px;
    }

    .txt span {
        display: block;
    }

    .quick a {
        align-items: flex-start;
        height: 117px;
        position: relative;
        padding: 15px 0 15px 6.78%;
    }
    .quick .txt {
        font-size: 11px;
    }
    .quick .sp {
        top: 51px;
        right: 10px;
    }

    .new_video > div {
        width: calc(50% - 20px) !important;
        margin-right: 20px !important;
    }

    .magazine {
        flex-direction: column;
    }

    .magazine > div {
        width: 100%;
        margin-bottom: 20px;
    }

    .photo {
        margin-bottom: 10px;
    }
    .photo .colum {
        width: 50%;
    }

    .qna_txt > p {
        white-space: normal;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    /* max-width: 767px */
}
